<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<!-- Include header -->
<div th:replace="template :: header"></div>

<h1>Finish Tech Check</h1>
<form th:action="@{/tech/planTechCheck}" th:object="${techCheck}" method="post">

    <label for="busId">Bus:</label>
    <select th:field="*{busId}" id="busId">
        <option disabled selected value="-">-- Choose Bus --</option>
        <option th:each="bus : ${buses}"
                th:value="${bus.id}"
                th:text="${bus.brandName}">
        </option>
    </select><br/>

    <label for="date">Tech Check Date:</label>
    <input type="date" th:field="*{date}" id="date"/><br/>

    <button type="submit">Plan Tech Check</button>
</form>

<!-- Include footer -->
<div th:replace="template :: footer"></div>
</body>
</html>